.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: $bgColor;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;

	.icon-menu {
		display: none;
		position: relative;
		
		flex: 0 0 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			background: #fff;
			width: 100%;
			height: 2px;
			transition: all 0.3s ease;
			&:first-child{
				top: 0;
			}
			&:last-child{
				bottom: 0;
				top: auto;
			}
			
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child{
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child{
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
	.sticky{
		border-bottom: 1rem solid rgba(0, 0, 0, .2);
	}
}

.logo{
	font-size: 2.5rem;
	font-weight: 600;
	cursor: default;
}

.navbar a {
	font-size: 1.7rem;
	margin-left: 4rem;
	transition: .4s;
	
	&:hover,
	&.active{
		color: $mainColor;
	}
	
}




































